{{left_sidebar_enabled=False}}
{{right_sidebar_enabled=True}}
{{extend 'layout.html'}}

<hr />
{{import os,json}}
{{if not os.path.exists('titulos.json'):}}
Titulo y subtitulo
<form >
  <input name="titulo" />
  <input name="subtitulo" />
  <input type="submit" />
</form>
{{else:}}
{{with open('titulos.json', 'r') as f:}}
{{data=json.load(f)}}

<h1>
    {{=data['Titulos']['titulo']}}
</h1>
<h2>
    {{=data['Titulos']['subtitulo']}}
</h2>
{{pass}}
{{pass}}

<h2>Bienvenido a la aplicación de recuento</h2>
En este sitio es posible realizar:
<ul>
  <li><b>Consultas</b>: listar y modificar las planillas ingresadas</li>
  <li><b>Resultado</b>: ver los reportes de votos cargados y candidatos electos</li>
  <li><b>Subir Telegramas</b>: upload de los telegramas de las mesas escrutadas</li>
</ul>

Diríjase al menu correspondiente para cada proceso.
