{{extend 'layout.html'}}
<h1 class="bg-primary">Reportes</h1>
<h2>Ubicación: {{=B(ubicacion.descripcion)}}</h2>
<h2>Cargo: {{=B(cargo.descripcion)}}</h2>
<h3>Resultado</h3>
<table class="table table-striped">
<tr><th colspan="2">Lista</th><th>Votos</th><th>Porc.</th><th>Bancas</th></tr>
{{for fila in tabla_resultado:}}
<tr>
<td>{{=fila['nro_lista']}}</td>
<td>{{=fila['desc_lista']}}</td>
<td>{{=fila['votos']}}</td>
<td>{{=fila['porc']}}</td>
<td>{{=fila['bancas_obtenidas']}}</td>
</tr>
{{pass}}
</table>

<h3>Candidatos Electos</h3>

<table class="table table-striped">
<tr><th colspan="2">Lista</th><th>Candidato</th></tr>
{{for fila in dhont_electos:}}
<tr>
<td>{{=listas[fila[0]]['nro_lista']}}</td>
<td>{{=listas[fila[0]]['desc_lista']}}</td>
<td>{{=fila[1]}}</td>
</tr>
{{pass}}
</table>

<h3>Datos Generales</h3>
<ul>
<li><b>Total: {{=B(total)}}</li>
<li><b>Total D'Hondt: {{=B(dhont_total)}}</li>
<li><b>Bancas D'Hont: {{=B(dhont_bancas)}}</li>
<li><b>Piso D'Hont: {{=B(dhont_piso)}}</li>
</ul>


<h3>Grafico</h3>
{{=chart}}
<br>
<p>{{=A("exportar a CSV", _class="btn btn-info", _href=URL(f="exportar",args=my_args))}}{{=A("exportar a PDF", _class="btn btn-info", _href=URL(f="pdfreport",args=my_args))}}</p>
